.input-group {
    margin-bottom: 15px;
  }
  .input-group-text {
    width: 10%;
  }
  .btn-container {
    text-align: right;
    margin-top: 20px;
  }

  .form-control-expanded{

    height: 40%;
  }

  .btnE{
    width: 100%;
  }

  .center-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
  }

