.title{
    color: rgba(90,132,122,255);
    font-weight: 900;
}

.author{
    font-style: italic;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.05);
  }

  .date-end{
    margin-right: 85%;
  }

  .blogLike{
    margin-left : 1%;
    margin-top: 0.5%;
  }
  .comment{
    margin-left : 3%;
    margin-top: 0.5%;
  }